body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgb(255, 255, 255) 85%), radial-gradient(at left top, rgba(13, 110, 253, 0.5), transparent 50%), radial-gradient(at right top, rgba(255, 228, 132, 0.5), transparent 50%), radial-gradient(at right center, rgba(113, 44, 249, 0.5), transparent 50%), radial-gradient(at left center, rgba(214, 51, 132, 0.5), transparent 50%);
    padding-top: 75px;
    font-size: 14px;
}

.current-pc{
    background-color: #F9ECC3  !important
}

.navbar-nav .nav-link{
    color: white !important;
}

.nav-tabs .nav-link {
    color: #712cf9;
}

.navbar-nav .dropdown-item{
    font-size: 14px;
}

#codeEditor {
    width: 100%;
    height: 100%;
}

#output {
    color: white !important;
    background-color: #272822 !important;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    resize: none;
    /* Remove this if you want the user to resize the textarea */
}

table td,
table th {
    border: 1px solid lightgray;
}

table tr:first-child td,
table tr:first-child th {
    border-top: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}



.card-body {
    padding: 0;
    overflow-y: auto;
}

.card-header {
    font-weight: bold;
}

.bd-navbar {
    background-color: #712cf9;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.bg-primary {
    background-color: #712cf9 !important;
}

.navbar-brand {
    color: white !important;
}

.btn-primary {
    background-color: #712cf9;
    border-color: #712cf9;
}

.btn-primary:hover {
    border-color: #712cf9 !important;
    background-color: #6419f8 !important;
}
.btn-primary[disabled] {
    border-color: #712cff !important;
    background-color: #6419ff !important;
}

.form-label {
    font-weight: bold;
}
